n8n/workflows/lead-intake.json
{
  "id": "leadintakemain01",
  "name": "Lead Intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-intake",
        "responseMode": "onReceived",
        "responseCode": 200,
        "options": {}
      },
      "id": "a1f1e1c0-0001-4a2b-9c3d-000000000001",
      "name": "Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "b2f2e2c0-0002-4a2b-9c3d-000000000002"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first().json;\nconst headers = item.headers || {};\nconst body = item.body || {};\n\nconst expectedSecret = $env.WEBHOOK_SECRET;\nconst providedSecret = headers['x-webhook-secret'];\n\nif (!expectedSecret || providedSecret !== expectedSecret) {\n  throw new Error('Unauthorized: x-webhook-secret header missing or invalid');\n}\n\nreturn [{\n  json: {\n    name: String(body.name || '').trim(),\n    email: String(body.email || '').trim().toLowerCase(),\n    company: String(body.company || '').trim(),\n    message: String(body.message || '').trim(),\n    budget: String(body.budget || '').trim(),\n  }\n}];"
      },
      "id": "c3f3e3c0-0003-4a2b-9c3d-000000000003",
      "name": "Validate & Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d4f4e4c0-0004-4a2b-9c3d-000000000004",
              "leftValue": "={{ $json.email }}",
              "rightValue": "^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e5f5e5c0-0005-4a2b-9c3d-000000000005",
      "name": "Valid Email Format?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.airtable.com/v0/app2ldUhplS9k34QZ/tbl21HHue6IsXwNZR",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "filterByFormula", "value": "={{ '{Email} = \"' + $json.email + '\"' }}" },
            { "name": "maxRecords", "value": "1" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.AIRTABLE_PAT }}" }
          ]
        },
        "options": {}
      },
      "id": "f6f6e6c0-0006-4a2b-9c3d-000000000006",
      "name": "Search Lead by Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, -160]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "18f8e8c0-0008-4a2b-9c3d-000000000008",
              "leftValue": "={{ $json.records.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "29f9e9c0-0009-4a2b-9c3d-000000000009",
      "name": "Lead Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [880, -160]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const searchResult = $input.first().json;\nconst lead = $('Validate & Normalize').item.json;\n\nconst record = searchResult.records[0];\nconst existingMessage = record.fields.Message || '';\nconst timestamp = new Date().toISOString();\nconst appendedNote = '\\n\\n[Follow-up inquiry ' + timestamp + ']: ' + lead.message;\n\nreturn [{\n  json: {\n    recordId: record.id,\n    updatedMessage: existingMessage + appendedNote,\n  }\n}];"
      },
      "id": "3a0a0ac0-000a-4a2b-9c3d-00000000000a",
      "name": "Prepare Duplicate Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, -260]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://api.airtable.com/v0/app2ldUhplS9k34QZ/tbl21HHue6IsXwNZR/' + $json.recordId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ fields: { Message: $json.updatedMessage } }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.AIRTABLE_PAT }}" }
          ]
        },
        "options": {}
      },
      "id": "4b1b1bc0-001b-4a2b-9c3d-00000000001b",
      "name": "Update Existing Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, -260]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const lead = $('Validate & Normalize').item.json;\n\nconst systemPrompt = [\n  'You are the intake assistant for Bloom Studio, a small creative/marketing agency.',\n  'You will receive a lead inquiry submitted through the website contact form.',\n  'Classify the inquiry into exactly one category: sales, support, partnership, or spam.',\n  'Then draft a reply in reply_body following these exact content rules:',\n  '- Total length must be 60 to 120 words.',\n  '- Acknowledge the lead specific request, using details or phrasing from their own message, not generic language.',\n  '- Include exactly one warm, confidence building sentence about how Bloom Studio can help with their particular need.',\n  '- End with exactly one concrete clarifying question or suggested next step relevant to their inquiry.',\n  '- The clarifying question must ask about something the lead has not already told you. Never re-ask about budget, timeline, or scope details they already provided in their message. Ask about the next genuine unknown instead, for example if they mention taking orders via Instagram ask for their handle so you can review their menu, or if they mention a product count ask about their payment or delivery preferences.',\n  '- Never fabricate specific past experience, client counts, or results, such as claiming Bloom Studio has helped a certain number of similar businesses. Keep confidence statements general instead, like saying this is exactly the kind of project Bloom Studio loves working on.',\n  '- Never use em dashes anywhere in the reply.',\n  'Then format reply_body as real paragraphs, using a literal JSON \\\\n escape for every line break, structured exactly like this:',\n  '1. A greeting line: \"Hi {name},\" using their first name, never \"Dear\".',\n  '2. A blank line (two consecutive \\\\n escapes) separating the greeting from the body.',\n  '3. One to two short body paragraphs containing the acknowledgment, the confidence building sentence, and the clarifying question or next step.',\n  '4. A blank line (two consecutive \\\\n escapes) separating the body from the sign off.',\n  '5. \"Warm regards,\" on its own line.',\n  '6. \"The Bloom Studio Team\" on its own line, directly after, with no blank line between the two sign off lines.',\n  'Example of a correctly formatted reply_body value showing the required escapes, a general confidence statement instead of a fabricated claim, and a clarifying question about a genuine unknown rather than something already answered: \"Hi Alex,\\\\n\\\\nThanks for reaching out about a new site for your yoga studio with class booking, this is exactly the kind of project Bloom Studio loves working on.\\\\n\\\\nDo you already have a booking platform you would like the site to connect with, or should we recommend one?\\\\n\\\\nWarm regards,\\\\nThe Bloom Studio Team\"',\n  'If the inquiry looks like spam, still draft a brief generic reply_body following the same content and formatting rules even though it will not be sent.',\n  'Respond ONLY with a single minified JSON object, no markdown code fences, no commentary, matching exactly this shape:',\n  '{\"category\": \"sales\" | \"support\" | \"partnership\" | \"spam\", \"confidence\": number between 0 and 1, \"reply_subject\": string, \"reply_body\": string}',\n].join('\\n');\n\nconst userPrompt = [\n  'Name: ' + lead.name,\n  'Email: ' + lead.email,\n  'Company: ' + (lead.company || 'N/A'),\n  'Budget: ' + lead.budget,\n  'Message: ' + lead.message,\n].join('\\n');\n\nreturn [{\n  json: {\n    ...lead,\n    systemPrompt,\n    userPrompt,\n  }\n}];"
      },
      "id": "6d3d3dc0-003d-4a2b-9c3d-00000000003d",
      "name": "Build Groq Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, -60]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', temperature: 0.4, response_format: { type: 'json_object' }, messages: [ { role: 'system', content: $json.systemPrompt }, { role: 'user', content: $json.userPrompt } ] }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.GROQ_API_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "7e4e4ec0-004e-4a2b-9c3d-00000000004e",
      "name": "Groq Classify & Draft Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, -60]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const response = $input.first().json;\nconst lead = $('Build Groq Prompt').item.json;\n\nlet content = '';\ntry {\n  content = response.choices[0].message.content;\n} catch (e) {\n  content = '';\n}\n\ncontent = String(content || '').trim();\nif (content.startsWith('```')) {\n  content = content.replace(/^```(?:json)?\\s*/i, '').replace(/```\\s*$/i, '').trim();\n}\n\nlet parsed = null;\ntry {\n  parsed = JSON.parse(content);\n} catch (e) {\n  parsed = null;\n}\n\nconst allowedCategories = ['sales', 'support', 'partnership', 'spam'];\n\nlet category = 'unclassified';\nlet confidence = 0;\nlet reply_subject = '';\nlet reply_body = '';\n\nif (parsed && typeof parsed === 'object') {\n  const rawCategory = String(parsed.category || '').toLowerCase().trim();\n  category = allowedCategories.includes(rawCategory) ? rawCategory : 'unclassified';\n  const rawConfidence = typeof parsed.confidence === 'number' ? parsed.confidence : Number(parsed.confidence);\n  confidence = Number.isFinite(rawConfidence) ? rawConfidence : 0;\n  reply_subject = String(parsed.reply_subject || '').trim();\n  reply_body = String(parsed.reply_body || '').trim();\n}\n\nconst categoryLabel = category.charAt(0).toUpperCase() + category.slice(1);\n\nreturn [{\n  json: {\n    name: lead.name,\n    email: lead.email,\n    company: lead.company,\n    message: lead.message,\n    budget: lead.budget,\n    category,\n    categoryLabel,\n    confidence,\n    reply_subject,\n    reply_body,\n  }\n}];"
      },
      "id": "8f5f5fc0-005f-4a2b-9c3d-00000000005f",
      "name": "Parse Groq Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, -60]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9061616c0-0061-4a2b-9c3d-000000000061",
              "leftValue": "={{ $json.category }}",
              "rightValue": "spam",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "a1626260-0062-4a2b-9c3d-000000000062",
              "leftValue": "={{ $json.confidence }}",
              "rightValue": 0.8,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2636360-0063-4a2b-9c3d-000000000063",
      "name": "Spam & High Confidence?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1760, -60]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.airtable.com/v0/app2ldUhplS9k34QZ/tbl21HHue6IsXwNZR",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ fields: { Name: $json.name, Email: $json.email, Company: $json.company, Message: $json.message, Category: $json.categoryLabel, Status: 'Closed', 'AI Draft': 'Subject: ' + $json.reply_subject + '\\n\\n' + $json.reply_body } }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.AIRTABLE_PAT }}" }
          ]
        },
        "options": {}
      },
      "id": "c3646460-0064-4a2b-9c3d-000000000064",
      "name": "Create Airtable Record (Spam - Closed)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, -160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ embeds: [ { title: '🚫 Spam lead closed', color: 9807270, fields: [ { name: 'Name', value: $json.name || 'not provided', inline: true }, { name: 'Email', value: $json.email || 'not provided', inline: true }, { name: 'Confidence', value: Math.round($json.confidence * 100) + '%', inline: true }, { name: 'Reason', value: 'Classified as spam by AI screening', inline: false } ], footer: { text: 'Bloom Studio | Lead Intake' }, timestamp: $now.toISO() } ] }) }}",
        "options": {}
      },
      "id": "d4656560-0065-4a2b-9c3d-000000000065",
      "name": "Notify Discord: Spam Lead Closed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, -160],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.airtable.com/v0/app2ldUhplS9k34QZ/tbl21HHue6IsXwNZR",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ fields: { Name: $json.name, Email: $json.email, Company: $json.company, Message: $json.message, Category: $json.categoryLabel, Status: 'Awaiting Reply', 'AI Draft': 'Subject: ' + $json.reply_subject + '\\n\\n' + $json.reply_body, 'Last Contacted': $now.toISO() } }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.AIRTABLE_PAT }}" }
          ]
        },
        "options": {}
      },
      "id": "e5666660-0066-4a2b-9c3d-000000000066",
      "name": "Create Airtable Record (Awaiting Reply)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 40]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $('Parse Groq Response').item.json.email }}",
        "subject": "={{ $('Parse Groq Response').item.json.reply_subject }}",
        "emailType": "text",
        "message": "={{ $('Parse Groq Response').item.json.reply_body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "f6777770-0067-4a2b-9c3d-000000000067",
      "name": "Send Reply Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [2200, 40],
      "credentials": {
        "gmailOAuth2": {
          "id": "quLPG8FlKdqVHZE5",
          "name": "Gmail - Bloom Studio"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_LEADS_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ embeds: [ { title: 'New lead received', color: 5763719, fields: [ { name: 'Name', value: $('Parse Groq Response').item.json.name || 'not provided', inline: true }, { name: 'Email', value: $('Parse Groq Response').item.json.email || 'not provided', inline: true }, { name: 'Category', value: $('Parse Groq Response').item.json.categoryLabel, inline: true }, { name: 'Confidence', value: Math.round($('Parse Groq Response').item.json.confidence * 100) + '%', inline: true }, { name: 'Budget', value: $('Parse Groq Response').item.json.budget || 'not provided', inline: true } ], footer: { text: 'Bloom Studio | Lead Intake' }, timestamp: $now.toISO() } ] }) }}",
        "options": {}
      },
      "id": "08888880-0068-4a2b-9c3d-000000000068",
      "name": "Notify Discord: New Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2420, 40],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ embeds: [ { title: '⚠️ Malformed lead rejected', color: 15548997, fields: [ { name: 'Name', value: $json.name || 'not provided', inline: true }, { name: 'Email', value: $json.email || 'not provided', inline: true }, { name: 'Reason', value: 'Invalid email format', inline: false } ], footer: { text: 'Bloom Studio | Lead Intake' }, timestamp: $now.toISO() } ] }) }}",
        "options": {}
      },
      "id": "07f7e7c0-0007-4a2b-9c3d-000000000007",
      "name": "Notify Discord: Malformed Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 100],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Lead Webhook": {
      "main": [
        [{ "node": "Validate & Normalize", "type": "main", "index": 0 }]
      ]
    },
    "Validate & Normalize": {
      "main": [
        [{ "node": "Valid Email Format?", "type": "main", "index": 0 }]
      ]
    },
    "Valid Email Format?": {
      "main": [
        [{ "node": "Search Lead by Email", "type": "main", "index": 0 }],
        [{ "node": "Notify Discord: Malformed Lead", "type": "main", "index": 0 }]
      ]
    },
    "Search Lead by Email": {
      "main": [
        [{ "node": "Lead Exists?", "type": "main", "index": 0 }]
      ]
    },
    "Lead Exists?": {
      "main": [
        [{ "node": "Prepare Duplicate Update", "type": "main", "index": 0 }],
        [{ "node": "Build Groq Prompt", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Duplicate Update": {
      "main": [
        [{ "node": "Update Existing Lead", "type": "main", "index": 0 }]
      ]
    },
    "Build Groq Prompt": {
      "main": [
        [{ "node": "Groq Classify & Draft Reply", "type": "main", "index": 0 }]
      ]
    },
    "Groq Classify & Draft Reply": {
      "main": [
        [{ "node": "Parse Groq Response", "type": "main", "index": 0 }]
      ]
    },
    "Parse Groq Response": {
      "main": [
        [{ "node": "Spam & High Confidence?", "type": "main", "index": 0 }]
      ]
    },
    "Spam & High Confidence?": {
      "main": [
        [{ "node": "Create Airtable Record (Spam - Closed)", "type": "main", "index": 0 }],
        [{ "node": "Create Airtable Record (Awaiting Reply)", "type": "main", "index": 0 }]
      ]
    },
    "Create Airtable Record (Spam - Closed)": {
      "main": [
        [{ "node": "Notify Discord: Spam Lead Closed", "type": "main", "index": 0 }]
      ]
    },
    "Create Airtable Record (Awaiting Reply)": {
      "main": [
        [{ "node": "Send Reply Email", "type": "main", "index": 0 }]
      ]
    },
    "Send Reply Email": {
      "main": [
        [{ "node": "Notify Discord: New Lead", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
